<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>MVC BLOG</title>
  </head>
  <body>
    <nav>Tech Blog
 {{#if logged_in}}
        <a href='/dashboard'>dashboard</a> |
        <button class='no-button' id='logout'>logout</button>
        {{else}}
        <a href='/login'>login</a>
        {{/if}}
        </nav>  
    <main class='container container-fluid mt-5'>
    {{{ body }}}
    </main>
   
{{#if logged_in}}
  <script src='/js/logout.js'></script>
 
  {{/if}}
  </body>
</html>