<div class="main">
<h1> Recent Blogs</h1>
    <hr>
{{#each blogs as |blog| }}
   
    <h2><a href='/blogs/{{blog.id}}'>{{blog.title}}</a></h2>
    <p>Created by {{blog.user.name}}</p>
  
  <hr>
  

{{/each}}
</div>